.avatar{
    font-size: var(--font-size-md);
    
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: var(--france-50);
    border: .2rem solid;
    border-color: inherit;
    background-color: var(--france-500);
    
    display: flex;
    justify-content: center;
    align-items: center;
}