.card {
   min-width: 25rem;
   width: 100%;
   font-size: var(--font-size-lg);
   border-radius: var(--border-radius);

   background-color: var(--white);
   color: var(--neutral-500);

   display: flex;
   flex-direction: column;
}

.card__header {
   width: 100%; height: 12.5em;
   max-height: 12.5em;
}

.card__img {
   width: 100%;
   height: 100%; 
   object-fit: cover;
   object-position: center;
   border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__body {
   padding: 1.2rem 2.4rem;
   display: grid;
   gap: 1rem;
}

.card__title {
   font-size: var(--font-size-lg);
   font-family: var(--title-font-family);
   font-weight: 700;
}

.card__description {
   font-size: var(--font-size-sm);
   line-height: var(--text-line-height);
}

.card__tags {
   display: flex;
   gap: 1rem;
}

.card--article .card__footer {
   border-top: 1px solid var(--neutral-100);
   padding: 1.4rem 2rem;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card__right {
   color: var(--france-500);
}

.card--article {
   height: max-content;
}

.card--service {
   text-align: center;
   padding: 2rem;
   gap: 1.2rem;
   align-items: center;
}

.card__icon {
   font-size: 6rem;
   line-height: 0;
}

.card--user {
   text-align: center;
   padding-bottom: 1.8rem;
}

.card__picture {
   width: 100%;
   height: 7.5em;
   border-radius: var(--border-radius) var(--border-radius) 0 0;
   background-image: url(../../assets/photo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
}

.card__avatar {
   display: inline-block;
   border-radius: 50%;
   background-color: var(--white);
   position: relative;
   bottom: -50%; left: 0;
}

.card__avatar-content {
   width: 7.5em; height: 7.5em;
   border: .5rem solid var(--white);
   font-size: inherit;
}

.card__about {
   margin-top: 8.3rem;
}

.card__name {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.card__links {
   padding: .6rem 0;
   margin: .6rem 1.2rem 0;

   display: flex;
   justify-content: center;
   gap: 3rem;
}

.card--box {
   padding: 1.8rem;
}

.card__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card__logo {
   width: 4.06em; height: 4.06em;
   background-color: var(--neutral-100);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: var(--border-radius);
}

.card__info {
   text-align: right;
   margin-top: 2.4rem;
}

.card--box .card__footer {
   margin-top: 2.4rem;
}

.card__txt {
   display: block;
}

.card__favicon {font-size: var(--font-size-7xl);}