.modal {
   --trans: 0.3s;
   
   background-color: var(--white);
   border: 1px solid var(--neutral-100);
   border-radius: var(--border-radius);
   color: var(--neutral-500);
   padding: 0;
}

.modal::backdrop {
   backdrop-filter: blur(5px);
}

.modal__header,
.modal__body, 
.modal__footer {
   padding: 1.6rem;
}

.modal__header {
   display: flex;
   justify-content: space-between;
}

.modal__title {
   font-size: 1.6rem;
   color: var(--neutral-600);
}

.modal__close-btn {
   color: var(--neutral-500);
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: .3rem;
   text-align: center;
   transition: background-color var(--trans);
}

.modal__close-btn:hover {
   background-color: var(--france-100);
}


.modal__body {line-height: var(--text-line-height)}

.modal__footer {
   display: flex;
   justify-content: flex-end;
   gap: 1.2rem;
}

.modal__btn {
   min-width: max-content;
}

.modal__btn:first-child {
   color: inherit;
}