.stepper {
   width: min-content;
   display: flex;
   align-items: flex-start;
   background-color: var(--white);
   gap: 1rem;
   padding: 1rem;
}

.stepper__step {
   min-width: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   flex-basis: 0px;
   text-align: center;
}

.stepper__step::before {
   content: '';
   width: 95%; height: 0.2rem;
   display: block;
   background-color: var(--neutral-400);
   transform: translateY(-50%);
   position: absolute;
   top: 1.5rem; left: 50%;

   transition: background-color var(--transition);
}

.stepper__step:last-child::before {
   display: none;
}

.stepper__icon {
   width: 3.2rem; height: 3.2rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--neutral-400);
   font-size: var(--font-size-lg);
   color: var(--neutral-50);
   position: relative;

   transition: background-color var(--transition);

}

.stepper__txt {
   font-size: var(--font-size-sm);
   color: var(--neutral-400);
   padding: .6rem;

   transition: color var(--transition);
}

/* Completed status */
.stepper__step--completed .stepper__icon {
   background-color: var(--green-500);
}

.stepper__step--completed::before {
   background-color: var(--green-500);
}

.stepper__step--completed .stepper__txt {
   color: var(--green-500);
} 

/* Active status */
.stepper__step--active .stepper__icon {
   background-color: var(--france-500);
}

.stepper__step--active .stepper__txt {
   color: var(--france-500);
}


/* ========== Next & before ========== */
.btnscontainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
