.stepper {
   width: min-content;
   display: flex;
   align-items: flex-start;
   background-color: var(--white);
   gap: 1rem;
   padding: 1rem;
}

.stepper__step {
   min-width: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   flex-basis: 0px;
   text-align: center;
}

.stepper__step::before {
   content: '';
   width: 95%; height: 0.2rem;
   display: block;
   background-color: var(--neutral-400);
   transform: translateY(-50%);
   position: absolute;
   top: 1.5rem; left: 50%;

   transition: background-color var(--transition);
}

.stepper__step:last-child::before {
   display: none;
}

.stepper__icon {
   width: 3.2rem; height: 3.2rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--neutral-400);
   font-size: var(--font-size-lg);
   color: var(--neutral-50);
   position: relative;

   transition: background-color var(--transition);

}

.stepper__txt {
   font-size: var(--font-size-sm);
   color: var(--neutral-400);
   padding: .6rem;

   transition: color var(--transition);
}

/* Completed status */
.stepper__step--completed .stepper__icon {
   background-color: var(--green-500);
}

.stepper__step--completed::before {
   background-color: var(--green-500);
}

.stepper__step--completed .stepper__txt {
   color: var(--green-500);
} 

/* Active status */
.stepper__step--active .stepper__icon {
   background-color: var(--france-500);
}

.stepper__step--active .stepper__txt {
   color: var(--france-500);
}


/* ==========Example Form========== */
.form {
   width: 25rem;
   background-color: var(--white);
   border-radius: var(--border-radius);
   display: flex;
   color: var(--neutral-700);
   padding: 1rem;
   gap: 1rem;
   overflow: hidden;
}

.form__page {
   min-width: 100%;
   font-size: var(--font-size-md);
   display: flex;
   flex-direction: column;
   transition: margin-left var(--transition) ease-in-out;
}

.form__page:first-child .form__content,
.form__page:nth-child(2) .form__content {
   margin-left: 1rem;
}

.form__title {
   color: var(--neutral-900);
   margin: .6rem 0;
}

.form__item {
   display: flex;
   align-items: center;
   gap: 0.6rem;
}

.form__product-list .form__item {
   padding: 0.6rem;
}

.form__nextBtn, 
.form__preBtn {
   width: 80%;
}

.form__btns {
   margin-top: 1.2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.form__input {
   height: 3.8rem;
   padding: .6rem 1.2rem;
   border: 1px solid var(--neutral-400);
   border-radius: var(--border-radius);
   color: var(--neutral-600);
   background-color: var(--white);

   transition: border var(--transition);
}

.form__input:focus {
   border: 1px solid var(--france-500);
   outline: none;
}

/* ===Pago confirmado== */
.form__page:last-child {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.form__page:last-child .form__title{
   align-self: flex-start;
}

.form__icon {
   width: 10rem; height: 10rem;
   background-color: var(--green-500);
   color: var(--neutral-50);
   border-radius: 50%;

   font-size: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.form__icon::before {
   content: '';
   width: 150%; height: 150%;
   display: block;
   background-color: var(--green-500);
   border-radius: 50%;

   position: absolute;
   opacity: .5;
   top: -25%; left: -25%;
   z-index: -1;
}
/* 
.form__page:first-child{
   margin-left: -24rem;
} */
