.tag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 .6rem;
    gap: .6rem;
    border: 1px solid transparent;
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius);
    line-height: calc(1em * 1.6);
    cursor: pointer;
    user-select: none;
    background-color: var(--france-500);
    color: var(--france-50);
    transition: background-color var(--transition);
}
.tag:hover{
    background-color: var(--france-700);
}
.tag__closed{
    color: inherit;
}