.active\:bg-transparent, .hover\:bg-transparent, .bg-transparent{ background-color: var(--transparent);}
.active\:text-transparent, .hover\:text-transparent, .text-transparent{ color: var(--transparent);}
.active\:border-transparent, .hover\:border-transparent, .border-transparent{ border-color: var(--transparent);}

/************************************************* France *************************************************/
.active\:bg-france-50:active, .hover\:bg-france-50:hover, .bg-france-50{ background-color: var(--france-50);}
.active\:bg-france-100:active, .hover\:bg-france-100:hover, .bg-france-100{ background-color: var(--france-100);}
.active\:bg-france-200:active, .hover\:bg-france-200:hover, .bg-france-200{ background-color: var(--france-200);}
.active\:bg-france-300:active, .hover\:bg-france-300:hover, .bg-france-300{ background-color: var(--france-300);}
.active\:bg-france-400:active, .hover\:bg-france-400:hover, .bg-france-400{ background-color: var(--france-400);}
.active\:bg-france-500:active, .hover\:bg-france-500:hover, .bg-france-500{ background-color: var(--france-500);}
.active\:bg-france-600:active, .hover\:bg-france-600:hover, .bg-france-600{ background-color: var(--france-600);}
.active\:bg-france-700:active, .hover\:bg-france-700:hover, .bg-france-700{ background-color: var(--france-700);}
.active\:bg-france-800:active, .hover\:bg-france-800:hover, .bg-france-800{ background-color: var(--france-800);}
.active\:bg-france-900:active, .hover\:bg-france-900:hover, .bg-france-900{ background-color: var(--france-900);}
.active\:bg-france-20\%:active, .hover\:bg-france-20\%:hover, .bg-france-20\%{ background-color: var(--france\/20);}
.active\:bg-france-40\%:active, .hover\:bg-france-40\%:hover, .bg-france-40\%{ background-color: var(--france\/40);}
.active\:bg-france-60\%:active, .hover\:bg-france-60\%:hover, .bg-france-60\%{ background-color: var(--france\/60);}
.active\:bg-france-80\%:active, .hover\:bg-france-80\%:hover, .bg-france-80\%{ background-color: var(--france\/80);}

.active\:text-france-50:active, .hover\:text-france-50:hover, .text-france-50{ color: var(--france-50);}
.active\:text-france-100:active, .hover\:text-france-100:hover, .text-france-100{ color: var(--france-100);}
.active\:text-france-200:active, .hover\:text-france-200:hover, .text-france-200{ color: var(--france-200);}
.active\:text-france-300:active, .hover\:text-france-300:hover, .text-france-300{ color: var(--france-300);}
.active\:text-france-400:active, .hover\:text-france-400:hover, .text-france-400{ color: var(--france-400);}
.active\:text-france-500:active, .hover\:text-france-500:hover, .text-france-500{ color: var(--france-500);}
.active\:text-france-600:active, .hover\:text-france-600:hover, .text-france-600{ color: var(--france-600);}
.active\:text-france-700:active, .hover\:text-france-700:hover, .text-france-700{ color: var(--france-700);}
.active\:text-france-800:active, .hover\:text-france-800:hover, .text-france-800{ color: var(--france-800);}
.active\:text-france-900:active, .hover\:text-france-900:hover, .text-france-900{ color: var(--france-900);}
.active\:text-france-20\%:active, .hover\:text-france-20\%:hover, .text-france-20\%{ color: var(--france\/20);}
.active\:text-france-40\%:active, .hover\:text-france-40\%:hover, .text-france-40\%{ color: var(--france\/40);}
.active\:text-france-60\%:active, .hover\:text-france-60\%:hover, .text-france-60\%{ color: var(--france\/60);}
.active\:text-france-80\%:active, .hover\:text-france-80\%:hover, .text-france-80\%{ color: var(--france\/80);}

.active\:border-france-50:active, .hover\:border-france-50:hover, .border-france-50{ border-color: var(--france-50);}
.active\:border-france-100:active, .hover\:border-france-100:hover, .border-france-100{ border-color: var(--france-100);}
.active\:border-france-200:active, .hover\:border-france-200:hover, .border-france-200{ border-color: var(--france-200);}
.active\:border-france-300:active, .hover\:border-france-300:hover, .border-france-300{ border-color: var(--france-300);}
.active\:border-france-400:active, .hover\:border-france-400:hover, .border-france-400{ border-color: var(--france-400);}
.active\:border-france-500:active, .hover\:border-france-500:hover, .border-france-500{ border-color: var(--france-500);}
.active\:border-france-600:active, .hover\:border-france-600:hover, .border-france-600{ border-color: var(--france-600);}
.active\:border-france-700:active, .hover\:border-france-700:hover, .border-france-700{ border-color: var(--france-700);}
.active\:border-france-800:active, .hover\:border-france-800:hover, .border-france-800{ border-color: var(--france-800);}
.active\:border-france-900:active, .hover\:border-france-900:hover, .border-france-900{ border-color: var(--france-900);}
.active\:border-france-20\%:active, .hover\:border-france-20\%:hover, .border-france-20\%{ border-color: var(--france\/20);}
.active\:border-france-40\%:active, .hover\:border-france-40\%:hover, .border-france-40\%{ border-color: var(--france\/40);}
.active\:border-france-60\%:active, .hover\:border-france-60\%:hover, .border-france-60\%{ border-color: var(--france\/60);}
.active\:border-france-80\%:active, .hover\:border-france-80\%:hover, .border-france-80\%{ border-color: var(--france\/80);}

/************************************************* Cyan *************************************************/
.active\:bg-cyan-50:active, .hover\:bg-cyan-50:hover, .bg-cyan-50{ background-color: var(--cyan-50);}
.active\:bg-cyan-100:active, .hover\:bg-cyan-100:hover, .bg-cyan-100{ background-color: var(--cyan-100);}
.active\:bg-cyan-200:active, .hover\:bg-cyan-200:hover, .bg-cyan-200{ background-color: var(--cyan-200);}
.active\:bg-cyan-300:active, .hover\:bg-cyan-300:hover, .bg-cyan-300{ background-color: var(--cyan-300);}
.active\:bg-cyan-400:active, .hover\:bg-cyan-400:hover, .bg-cyan-400{ background-color: var(--cyan-400);}
.active\:bg-cyan-500:active, .hover\:bg-cyan-500:hover, .bg-cyan-500{ background-color: var(--cyan-500);}
.active\:bg-cyan-600:active, .hover\:bg-cyan-600:hover, .bg-cyan-600{ background-color: var(--cyan-600);}
.active\:bg-cyan-700:active, .hover\:bg-cyan-700:hover, .bg-cyan-700{ background-color: var(--cyan-700);}
.active\:bg-cyan-800:active, .hover\:bg-cyan-800:hover, .bg-cyan-800{ background-color: var(--cyan-800);}
.active\:bg-cyan-900:active, .hover\:bg-cyan-900:hover, .bg-cyan-900{ background-color: var(--cyan-900);}
.active\:bg-cyan-20\%:active, .hover\:bg-cyan-20\%:hover, .bg-cyan-20\%{ background-color: var(--cyan\/20);}
.active\:bg-cyan-40\%:active, .hover\:bg-cyan-40\%:hover, .bg-cyan-40\%{ background-color: var(--cyan\/40);}
.active\:bg-cyan-60\%:active, .hover\:bg-cyan-60\%:hover, .bg-cyan-60\%{ background-color: var(--cyan\/60);}
.active\:bg-cyan-80\%:active, .hover\:bg-cyan-80\%:hover, .bg-cyan-80\%{ background-color: var(--cyan\/80);}

.active\:text-cyan-50:active, .hover\:text-cyan-50:hover, .text-cyan-50{ color: var(--cyan-50);}
.active\:text-cyan-100:active, .hover\:text-cyan-100:hover, .text-cyan-100{ color: var(--cyan-100);}
.active\:text-cyan-200:active, .hover\:text-cyan-200:hover, .text-cyan-200{ color: var(--cyan-200);}
.active\:text-cyan-300:active, .hover\:text-cyan-300:hover, .text-cyan-300{ color: var(--cyan-300);}
.active\:text-cyan-400:active, .hover\:text-cyan-400:hover, .text-cyan-400{ color: var(--cyan-400);}
.active\:text-cyan-500:active, .hover\:text-cyan-500:hover, .text-cyan-500{ color: var(--cyan-500);}
.active\:text-cyan-600:active, .hover\:text-cyan-600:hover, .text-cyan-600{ color: var(--cyan-600);}
.active\:text-cyan-700:active, .hover\:text-cyan-700:hover, .text-cyan-700{ color: var(--cyan-700);}
.active\:text-cyan-800:active, .hover\:text-cyan-800:hover, .text-cyan-800{ color: var(--cyan-800);}
.active\:text-cyan-900:active, .hover\:text-cyan-900:hover, .text-cyan-900{ color: var(--cyan-900);}
.active\:text-cyan-20\%:active, .hover\:text-cyan-20\%:hover, .text-cyan-20\%{ color: var(--cyan\/20);}
.active\:text-cyan-40\%:active, .hover\:text-cyan-40\%:hover, .text-cyan-40\%{ color: var(--cyan\/40);}
.active\:text-cyan-60\%:active, .hover\:text-cyan-60\%:hover, .text-cyan-60\%{ color: var(--cyan\/60);}
.active\:text-cyan-80\%:active, .hover\:text-cyan-80\%:hover, .text-cyan-80\%{ color: var(--cyan\/80);}

.active\:border-cyan-50:active, .hover\:border-cyan-50:hover, .border-cyan-50{ border-color: var(--cyan-50);}
.active\:border-cyan-100:active, .hover\:border-cyan-100:hover, .border-cyan-100{ border-color: var(--cyan-100);}
.active\:border-cyan-200:active, .hover\:border-cyan-200:hover, .border-cyan-200{ border-color: var(--cyan-200);}
.active\:border-cyan-300:active, .hover\:border-cyan-300:hover, .border-cyan-300{ border-color: var(--cyan-300);}
.active\:border-cyan-400:active, .hover\:border-cyan-400:hover, .border-cyan-400{ border-color: var(--cyan-400);}
.active\:border-cyan-500:active, .hover\:border-cyan-500:hover, .border-cyan-500{ border-color: var(--cyan-500);}
.active\:border-cyan-600:active, .hover\:border-cyan-600:hover, .border-cyan-600{ border-color: var(--cyan-600);}
.active\:border-cyan-700:active, .hover\:border-cyan-700:hover, .border-cyan-700{ border-color: var(--cyan-700);}
.active\:border-cyan-800:active, .hover\:border-cyan-800:hover, .border-cyan-800{ border-color: var(--cyan-800);}
.active\:border-cyan-900:active, .hover\:border-cyan-900:hover, .border-cyan-900{ border-color: var(--cyan-900);}
.active\:border-cyan-20\%:active, .hover\:border-cyan-20\%:hover, .border-cyan-20\%{ border-color: var(--cyan\/20);}
.active\:border-cyan-40\%:active, .hover\:border-cyan-40\%:hover, .border-cyan-40\%{ border-color: var(--cyan\/40);}
.active\:border-cyan-60\%:active, .hover\:border-cyan-60\%:hover, .border-cyan-60\%{ border-color: var(--cyan\/60);}
.active\:border-cyan-80\%:active, .hover\:border-cyan-80\%:hover, .border-cyan-80\%{ border-color: var(--cyan\/80);}

/************************************************* Green *************************************************/
.active\:bg-green-50:active, .hover\:bg-green-50:hover, .bg-green-50{ background-color: var(--green-50);}
.active\:bg-green-100:active, .hover\:bg-green-100:hover, .bg-green-100{ background-color: var(--green-100);}
.active\:bg-green-200:active, .hover\:bg-green-200:hover, .bg-green-200{ background-color: var(--green-200);}
.active\:bg-green-300:active, .hover\:bg-green-300:hover, .bg-green-300{ background-color: var(--green-300);}
.active\:bg-green-400:active, .hover\:bg-green-400:hover, .bg-green-400{ background-color: var(--green-400);}
.active\:bg-green-500:active, .hover\:bg-green-500:hover, .bg-green-500{ background-color: var(--green-500);}
.active\:bg-green-600:active, .hover\:bg-green-600:hover, .bg-green-600{ background-color: var(--green-600);}
.active\:bg-green-700:active, .hover\:bg-green-700:hover, .bg-green-700{ background-color: var(--green-700);}
.active\:bg-green-800:active, .hover\:bg-green-800:hover, .bg-green-800{ background-color: var(--green-800);}
.active\:bg-green-900:active, .hover\:bg-green-900:hover, .bg-green-900{ background-color: var(--green-900);}
.active\:bg-green-20\%:active, .hover\:bg-green-20\%:hover, .bg-green-20\%{ background-color: var(--green\/20);}
.active\:bg-green-40\%:active, .hover\:bg-green-40\%:hover, .bg-green-40\%{ background-color: var(--green\/40);}
.active\:bg-green-60\%:active, .hover\:bg-green-60\%:hover, .bg-green-60\%{ background-color: var(--green\/60);}
.active\:bg-green-80\%:active, .hover\:bg-green-80\%:hover, .bg-green-80\%{ background-color: var(--green\/80);}

.active\:text-green-50:active, .hover\:text-green-50:hover, .text-green-50{ color: var(--green-50);}
.active\:text-green-100:active, .hover\:text-green-100:hover, .text-green-100{ color: var(--green-100);}
.active\:text-green-200:active, .hover\:text-green-200:hover, .text-green-200{ color: var(--green-200);}
.active\:text-green-300:active, .hover\:text-green-300:hover, .text-green-300{ color: var(--green-300);}
.active\:text-green-400:active, .hover\:text-green-400:hover, .text-green-400{ color: var(--green-400);}
.active\:text-green-500:active, .hover\:text-green-500:hover, .text-green-500{ color: var(--green-500);}
.active\:text-green-600:active, .hover\:text-green-600:hover, .text-green-600{ color: var(--green-600);}
.active\:text-green-700:active, .hover\:text-green-700:hover, .text-green-700{ color: var(--green-700);}
.active\:text-green-800:active, .hover\:text-green-800:hover, .text-green-800{ color: var(--green-800);}
.active\:text-green-900:active, .hover\:text-green-900:hover, .text-green-900{ color: var(--green-900);}
.active\:text-green-20\%:active, .hover\:text-green-20\%:hover, .text-green-20\%{ color: var(--green\/20);}
.active\:text-green-40\%:active, .hover\:text-green-40\%:hover, .text-green-40\%{ color: var(--green\/40);}
.active\:text-green-60\%:active, .hover\:text-green-60\%:hover, .text-green-60\%{ color: var(--green\/60);}
.active\:text-green-80\%:active, .hover\:text-green-80\%:hover, .text-green-80\%{ color: var(--green\/80);}

.active\:border-green-50:active, .hover\:border-green-50:hover, .border-green-50{ border-color: var(--green-50);}
.active\:border-green-100:active, .hover\:border-green-100:hover, .border-green-100{ border-color: var(--green-100);}
.active\:border-green-200:active, .hover\:border-green-200:hover, .border-green-200{ border-color: var(--green-200);}
.active\:border-green-300:active, .hover\:border-green-300:hover, .border-green-300{ border-color: var(--green-300);}
.active\:border-green-400:active, .hover\:border-green-400:hover, .border-green-400{ border-color: var(--green-400);}
.active\:border-green-500:active, .hover\:border-green-500:hover, .border-green-500{ border-color: var(--green-500);}
.active\:border-green-600:active, .hover\:border-green-600:hover, .border-green-600{ border-color: var(--green-600);}
.active\:border-green-700:active, .hover\:border-green-700:hover, .border-green-700{ border-color: var(--green-700);}
.active\:border-green-800:active, .hover\:border-green-800:hover, .border-green-800{ border-color: var(--green-800);}
.active\:border-green-900:active, .hover\:border-green-900:hover, .border-green-900{ border-color: var(--green-900);}
.active\:border-green-20\%:active, .hover\:border-green-20\%:hover, .border-green-20\%{ border-color: var(--green\/20);}
.active\:border-green-40\%:active, .hover\:border-green-40\%:hover, .border-green-40\%{ border-color: var(--green\/40);}
.active\:border-green-60\%:active, .hover\:border-green-60\%:hover, .border-green-60\%{ border-color: var(--green\/60);}
.active\:border-green-80\%:active, .hover\:border-green-80\%:hover, .border-green-80\%{ border-color: var(--green\/80);}

/************************************************* Amber *************************************************/
.active\:bg-amber-50:active, .hover\:bg-amber-50:hover, .bg-amber-50{ background-color: var(--amber-50);}
.active\:bg-amber-100:active, .hover\:bg-amber-100:hover, .bg-amber-100{ background-color: var(--amber-100);}
.active\:bg-amber-200:active, .hover\:bg-amber-200:hover, .bg-amber-200{ background-color: var(--amber-200);}
.active\:bg-amber-300:active, .hover\:bg-amber-300:hover, .bg-amber-300{ background-color: var(--amber-300);}
.active\:bg-amber-400:active, .hover\:bg-amber-400:hover, .bg-amber-400{ background-color: var(--amber-400);}
.active\:bg-amber-500:active, .hover\:bg-amber-500:hover, .bg-amber-500{ background-color: var(--amber-500);}
.active\:bg-amber-600:active, .hover\:bg-amber-600:hover, .bg-amber-600{ background-color: var(--amber-600);}
.active\:bg-amber-700:active, .hover\:bg-amber-700:hover, .bg-amber-700{ background-color: var(--amber-700);}
.active\:bg-amber-800:active, .hover\:bg-amber-800:hover, .bg-amber-800{ background-color: var(--amber-800);}
.active\:bg-amber-900:active, .hover\:bg-amber-900:hover, .bg-amber-900{ background-color: var(--amber-900);}
.active\:bg-amber-20\%:active, .hover\:bg-amber-20\%:hover, .bg-amber-20\%{ background-color: var(--amber\/20);}
.active\:bg-amber-40\%:active, .hover\:bg-amber-40\%:hover, .bg-amber-40\%{ background-color: var(--amber\/40);}
.active\:bg-amber-60\%:active, .hover\:bg-amber-60\%:hover, .bg-amber-60\%{ background-color: var(--amber\/60);}
.active\:bg-amber-80\%:active, .hover\:bg-amber-80\%:hover, .bg-amber-80\%{ background-color: var(--amber\/80);}

.active\:text-amber-50:active, .hover\:text-amber-50:hover, .text-amber-50{ color: var(--amber-50);}
.active\:text-amber-100:active, .hover\:text-amber-100:hover, .text-amber-100{ color: var(--amber-100);}
.active\:text-amber-200:active, .hover\:text-amber-200:hover, .text-amber-200{ color: var(--amber-200);}
.active\:text-amber-300:active, .hover\:text-amber-300:hover, .text-amber-300{ color: var(--amber-300);}
.active\:text-amber-400:active, .hover\:text-amber-400:hover, .text-amber-400{ color: var(--amber-400);}
.active\:text-amber-500:active, .hover\:text-amber-500:hover, .text-amber-500{ color: var(--amber-500);}
.active\:text-amber-600:active, .hover\:text-amber-600:hover, .text-amber-600{ color: var(--amber-600);}
.active\:text-amber-700:active, .hover\:text-amber-700:hover, .text-amber-700{ color: var(--amber-700);}
.active\:text-amber-800:active, .hover\:text-amber-800:hover, .text-amber-800{ color: var(--amber-800);}
.active\:text-amber-900:active, .hover\:text-amber-900:hover, .text-amber-900{ color: var(--amber-900);}
.active\:text-amber-20\%:active, .hover\:text-amber-20\%:hover, .text-amber-20\%{ color: var(--amber\/20);}
.active\:text-amber-40\%:active, .hover\:text-amber-40\%:hover, .text-amber-40\%{ color: var(--amber\/40);}
.active\:text-amber-60\%:active, .hover\:text-amber-60\%:hover, .text-amber-60\%{ color: var(--amber\/60);}
.active\:text-amber-80\%:active, .hover\:text-amber-80\%:hover, .text-amber-80\%{ color: var(--amber\/80);}

.active\:border-amber-50:active, .hover\:border-amber-50:hover, .border-amber-50{ border-color: var(--amber-50);}
.active\:border-amber-100:active, .hover\:border-amber-100:hover, .border-amber-100{ border-color: var(--amber-100);}
.active\:border-amber-200:active, .hover\:border-amber-200:hover, .border-amber-200{ border-color: var(--amber-200);}
.active\:border-amber-300:active, .hover\:border-amber-300:hover, .border-amber-300{ border-color: var(--amber-300);}
.active\:border-amber-400:active, .hover\:border-amber-400:hover, .border-amber-400{ border-color: var(--amber-400);}
.active\:border-amber-500:active, .hover\:border-amber-500:hover, .border-amber-500{ border-color: var(--amber-500);}
.active\:border-amber-600:active, .hover\:border-amber-600:hover, .border-amber-600{ border-color: var(--amber-600);}
.active\:border-amber-700:active, .hover\:border-amber-700:hover, .border-amber-700{ border-color: var(--amber-700);}
.active\:border-amber-800:active, .hover\:border-amber-800:hover, .border-amber-800{ border-color: var(--amber-800);}
.active\:border-amber-900:active, .hover\:border-amber-900:hover, .border-amber-900{ border-color: var(--amber-900);}
.active\:border-amber-20\%:active, .hover\:border-amber-20\%:hover, .border-amber-20\%{ border-color: var(--amber\/20);}
.active\:border-amber-40\%:active, .hover\:border-amber-40\%:hover, .border-amber-40\%{ border-color: var(--amber\/40);}
.active\:border-amber-60\%:active, .hover\:border-amber-60\%:hover, .border-amber-60\%{ border-color: var(--amber\/60);}
.active\:border-amber-80\%:active, .hover\:border-amber-80\%:hover, .border-amber-80\%{ border-color: var(--amber\/80);}

/************************************************* Bermellon *************************************************/
.active\:bg-bermellon-50:active, .hover\:bg-bermellon-50:hover, .bg-bermellon-50{ background-color: var(--bermellon-50);}
.active\:bg-bermellon-100:active, .hover\:bg-bermellon-100:hover, .bg-bermellon-100{ background-color: var(--bermellon-100);}
.active\:bg-bermellon-200:active, .hover\:bg-bermellon-200:hover, .bg-bermellon-200{ background-color: var(--bermellon-200);}
.active\:bg-bermellon-300:active, .hover\:bg-bermellon-300:hover, .bg-bermellon-300{ background-color: var(--bermellon-300);}
.active\:bg-bermellon-400:active, .hover\:bg-bermellon-400:hover, .bg-bermellon-400{ background-color: var(--bermellon-400);}
.active\:bg-bermellon-500:active, .hover\:bg-bermellon-500:hover, .bg-bermellon-500{ background-color: var(--bermellon-500);}
.active\:bg-bermellon-600:active, .hover\:bg-bermellon-600:hover, .bg-bermellon-600{ background-color: var(--bermellon-600);}
.active\:bg-bermellon-700:active, .hover\:bg-bermellon-700:hover, .bg-bermellon-700{ background-color: var(--bermellon-700);}
.active\:bg-bermellon-800:active, .hover\:bg-bermellon-800:hover, .bg-bermellon-800{ background-color: var(--bermellon-800);}
.active\:bg-bermellon-900:active, .hover\:bg-bermellon-900:hover, .bg-bermellon-900{ background-color: var(--bermellon-900);}
.active\:bg-bermellon-20\%:active, .hover\:bg-bermellon-20\%:hover, .bg-bermellon-20\%{ background-color: var(--bermellon\/20);}
.active\:bg-bermellon-40\%:active, .hover\:bg-bermellon-40\%:hover, .bg-bermellon-40\%{ background-color: var(--bermellon\/40);}
.active\:bg-bermellon-60\%:active, .hover\:bg-bermellon-60\%:hover, .bg-bermellon-60\%{ background-color: var(--bermellon\/60);}
.active\:bg-bermellon-80\%:active, .hover\:bg-bermellon-80\%:hover, .bg-bermellon-80\%{ background-color: var(--bermellon\/80);}

.active\:text-bermellon-50:active, .hover\:text-bermellon-50:hover, .text-bermellon-50{ color: var(--bermellon-50);}
.active\:text-bermellon-100:active, .hover\:text-bermellon-100:hover, .text-bermellon-100{ color: var(--bermellon-100);}
.active\:text-bermellon-200:active, .hover\:text-bermellon-200:hover, .text-bermellon-200{ color: var(--bermellon-200);}
.active\:text-bermellon-300:active, .hover\:text-bermellon-300:hover, .text-bermellon-300{ color: var(--bermellon-300);}
.active\:text-bermellon-400:active, .hover\:text-bermellon-400:hover, .text-bermellon-400{ color: var(--bermellon-400);}
.active\:text-bermellon-500:active, .hover\:text-bermellon-500:hover, .text-bermellon-500{ color: var(--bermellon-500);}
.active\:text-bermellon-600:active, .hover\:text-bermellon-600:hover, .text-bermellon-600{ color: var(--bermellon-600);}
.active\:text-bermellon-700:active, .hover\:text-bermellon-700:hover, .text-bermellon-700{ color: var(--bermellon-700);}
.active\:text-bermellon-800:active, .hover\:text-bermellon-800:hover, .text-bermellon-800{ color: var(--bermellon-800);}
.active\:text-bermellon-900:active, .hover\:text-bermellon-900:hover, .text-bermellon-900{ color: var(--bermellon-900);}
.active\:text-bermellon-20\%:active, .hover\:text-bermellon-20\%:hover, .text-bermellon-20\%{ color: var(--bermellon\/20);}
.active\:text-bermellon-40\%:active, .hover\:text-bermellon-40\%:hover, .text-bermellon-40\%{ color: var(--bermellon\/40);}
.active\:text-bermellon-60\%:active, .hover\:text-bermellon-60\%:hover, .text-bermellon-60\%{ color: var(--bermellon\/60);}
.active\:text-bermellon-80\%:active, .hover\:text-bermellon-80\%:hover, .text-bermellon-80\%{ color: var(--bermellon\/80);}

.active\:border-bermellon-50:active, .hover\:border-bermellon-50:hover, .border-bermellon-50{ border-color: var(--bermellon-50);}
.active\:border-bermellon-100:active, .hover\:border-bermellon-100:hover, .border-bermellon-100{ border-color: var(--bermellon-100);}
.active\:border-bermellon-200:active, .hover\:border-bermellon-200:hover, .border-bermellon-200{ border-color: var(--bermellon-200);}
.active\:border-bermellon-300:active, .hover\:border-bermellon-300:hover, .border-bermellon-300{ border-color: var(--bermellon-300);}
.active\:border-bermellon-400:active, .hover\:border-bermellon-400:hover, .border-bermellon-400{ border-color: var(--bermellon-400);}
.active\:border-bermellon-500:active, .hover\:border-bermellon-500:hover, .border-bermellon-500{ border-color: var(--bermellon-500);}
.active\:border-bermellon-600:active, .hover\:border-bermellon-600:hover, .border-bermellon-600{ border-color: var(--bermellon-600);}
.active\:border-bermellon-700:active, .hover\:border-bermellon-700:hover, .border-bermellon-700{ border-color: var(--bermellon-700);}
.active\:border-bermellon-800:active, .hover\:border-bermellon-800:hover, .border-bermellon-800{ border-color: var(--bermellon-800);}
.active\:border-bermellon-900:active, .hover\:border-bermellon-900:hover, .border-bermellon-900{ border-color: var(--bermellon-900);}
.active\:border-bermellon-20\%:active, .hover\:border-bermellon-20\%:hover, .border-bermellon-20\%{ border-color: var(--bermellon\/20);}
.active\:border-bermellon-40\%:active, .hover\:border-bermellon-40\%:hover, .border-bermellon-40\%{ border-color: var(--bermellon\/40);}
.active\:border-bermellon-60\%:active, .hover\:border-bermellon-60\%:hover, .border-bermellon-60\%{ border-color: var(--bermellon\/60);}
.active\:border-bermellon-80\%:active, .hover\:border-bermellon-80\%:hover, .border-bermellon-80\%{ border-color: var(--bermellon\/80);}

/************************************************* Neutral *************************************************/
.active\:bg-neutral-50:active, .hover\:bg-neutral-50:hover, .bg-neutral-50{ background-color: var(--neutral-50);}
.active\:bg-neutral-100:active, .hover\:bg-neutral-100:hover, .bg-neutral-100{ background-color: var(--neutral-100);}
.active\:bg-neutral-200:active, .hover\:bg-neutral-200:hover, .bg-neutral-200{ background-color: var(--neutral-200);}
.active\:bg-neutral-300:active, .hover\:bg-neutral-300:hover, .bg-neutral-300{ background-color: var(--neutral-300);}
.active\:bg-neutral-400:active, .hover\:bg-neutral-400:hover, .bg-neutral-400{ background-color: var(--neutral-400);}
.active\:bg-neutral-500:active, .hover\:bg-neutral-500:hover, .bg-neutral-500{ background-color: var(--neutral-500);}
.active\:bg-neutral-600:active, .hover\:bg-neutral-600:hover, .bg-neutral-600{ background-color: var(--neutral-600);}
.active\:bg-neutral-700:active, .hover\:bg-neutral-700:hover, .bg-neutral-700{ background-color: var(--neutral-700);}
.active\:bg-neutral-800:active, .hover\:bg-neutral-800:hover, .bg-neutral-800{ background-color: var(--neutral-800);}
.active\:bg-neutral-900:active, .hover\:bg-neutral-900:hover, .bg-neutral-900{ background-color: var(--neutral-900);}
.active\:bg-neutral-20\%:active, .hover\:bg-neutral-20\%:hover, .bg-neutral-20\%{ background-color: var(--neutral\/20);}
.active\:bg-neutral-40\%:active, .hover\:bg-neutral-40\%:hover, .bg-neutral-40\%{ background-color: var(--neutral\/40);}
.active\:bg-neutral-60\%:active, .hover\:bg-neutral-60\%:hover, .bg-neutral-60\%{ background-color: var(--neutral\/60);}
.active\:bg-neutral-80\%:active, .hover\:bg-neutral-80\%:hover, .bg-neutral-80\%{ background-color: var(--neutral\/80);}

.active\:text-neutral-50:active, .hover\:text-neutral-50:hover, .text-neutral-50{ color: var(--neutral-50);}
.active\:text-neutral-100:active, .hover\:text-neutral-100:hover, .text-neutral-100{ color: var(--neutral-100);}
.active\:text-neutral-200:active, .hover\:text-neutral-200:hover, .text-neutral-200{ color: var(--neutral-200);}
.active\:text-neutral-300:active, .hover\:text-neutral-300:hover, .text-neutral-300{ color: var(--neutral-300);}
.active\:text-neutral-400:active, .hover\:text-neutral-400:hover, .text-neutral-400{ color: var(--neutral-400);}
.active\:text-neutral-500:active, .hover\:text-neutral-500:hover, .text-neutral-500{ color: var(--neutral-500);}
.active\:text-neutral-600:active, .hover\:text-neutral-600:hover, .text-neutral-600{ color: var(--neutral-600);}
.active\:text-neutral-700:active, .hover\:text-neutral-700:hover, .text-neutral-700{ color: var(--neutral-700);}
.active\:text-neutral-800:active, .hover\:text-neutral-800:hover, .text-neutral-800{ color: var(--neutral-800);}
.active\:text-neutral-900:active, .hover\:text-neutral-900:hover, .text-neutral-900{ color: var(--neutral-900);}
.active\:text-neutral-20\%:active, .hover\:text-neutral-20\%:hover, .text-neutral-20\%{ color: var(--neutral\/20);}
.active\:text-neutral-40\%:active, .hover\:text-neutral-40\%:hover, .text-neutral-40\%{ color: var(--neutral\/40);}
.active\:text-neutral-60\%:active, .hover\:text-neutral-60\%:hover, .text-neutral-60\%{ color: var(--neutral\/60);}
.active\:text-neutral-80\%:active, .hover\:text-neutral-80\%:hover, .text-neutral-80\%{ color: var(--neutral\/80);}

.active\:border-neutral-50:active, .hover\:border-neutral-50:hover, .border-neutral-50{ border-color: var(--neutral-50);}
.active\:border-neutral-100:active, .hover\:border-neutral-100:hover, .border-neutral-100{ border-color: var(--neutral-100);}
.active\:border-neutral-200:active, .hover\:border-neutral-200:hover, .border-neutral-200{ border-color: var(--neutral-200);}
.active\:border-neutral-300:active, .hover\:border-neutral-300:hover, .border-neutral-300{ border-color: var(--neutral-300);}
.active\:border-neutral-400:active, .hover\:border-neutral-400:hover, .border-neutral-400{ border-color: var(--neutral-400);}
.active\:border-neutral-500:active, .hover\:border-neutral-500:hover, .border-neutral-500{ border-color: var(--neutral-500);}
.active\:border-neutral-600:active, .hover\:border-neutral-600:hover, .border-neutral-600{ border-color: var(--neutral-600);}
.active\:border-neutral-700:active, .hover\:border-neutral-700:hover, .border-neutral-700{ border-color: var(--neutral-700);}
.active\:border-neutral-800:active, .hover\:border-neutral-800:hover, .border-neutral-800{ border-color: var(--neutral-800);}
.active\:border-neutral-900:active, .hover\:border-neutral-900:hover, .border-neutral-900{ border-color: var(--neutral-900);}
.active\:border-neutral-20\%:active, .hover\:border-neutral-20\%:hover, .border-neutral-20\%{ border-color: var(--neutral\/20);}
.active\:border-neutral-40\%:active, .hover\:border-neutral-40\%:hover, .border-neutral-40\%{ border-color: var(--neutral\/40);}
.active\:border-neutral-60\%:active, .hover\:border-neutral-60\%:hover, .border-neutral-60\%{ border-color: var(--neutral\/60);}
.active\:border-neutral-80\%:active, .hover\:border-neutral-80\%:hover, .border-neutral-80\%{ border-color: var(--neutral\/80);}

/************************************************* Gray Iron *************************************************/
.active\:bg-gray-iron-50:active, .hover\:bg-gray-iron-50:hover, .bg-gray-iron-50{ background-color: var(--gray-iron-50);}
.active\:bg-gray-iron-100:active, .hover\:bg-gray-iron-100:hover, .bg-gray-iron-100{ background-color: var(--gray-iron-100);}
.active\:bg-gray-iron-200:active, .hover\:bg-gray-iron-200:hover, .bg-gray-iron-200{ background-color: var(--gray-iron-200);}
.active\:bg-gray-iron-300:active, .hover\:bg-gray-iron-300:hover, .bg-gray-iron-300{ background-color: var(--gray-iron-300);}
.active\:bg-gray-iron-400:active, .hover\:bg-gray-iron-400:hover, .bg-gray-iron-400{ background-color: var(--gray-iron-400);}
.active\:bg-gray-iron-500:active, .hover\:bg-gray-iron-500:hover, .bg-gray-iron-500{ background-color: var(--gray-iron-500);}
.active\:bg-gray-iron-600:active, .hover\:bg-gray-iron-600:hover, .bg-gray-iron-600{ background-color: var(--gray-iron-600);}
.active\:bg-gray-iron-700:active, .hover\:bg-gray-iron-700:hover, .bg-gray-iron-700{ background-color: var(--gray-iron-700);}
.active\:bg-gray-iron-800:active, .hover\:bg-gray-iron-800:hover, .bg-gray-iron-800{ background-color: var(--gray-iron-800);}
.active\:bg-gray-iron-900:active, .hover\:bg-gray-iron-900:hover, .bg-gray-iron-900{ background-color: var(--gray-iron-900);}
.active\:bg-gray-iron-20\%:active, .hover\:bg-gray-iron-20\%:hover, .bg-gray-iron-20\%{ background-color: var(--gray-iron\/20);}
.active\:bg-gray-iron-40\%:active, .hover\:bg-gray-iron-40\%:hover, .bg-gray-iron-40\%{ background-color: var(--gray-iron\/40);}
.active\:bg-gray-iron-60\%:active, .hover\:bg-gray-iron-60\%:hover, .bg-gray-iron-60\%{ background-color: var(--gray-iron\/60);}
.active\:bg-gray-iron-80\%:active, .hover\:bg-gray-iron-80\%:hover, .bg-gray-iron-80\%{ background-color: var(--gray-iron\/80);}

.active\:text-gray-iron-50:active, .hover\:text-gray-iron-50:hover, .text-gray-iron-50{ color: var(--gray-iron-50);}
.active\:text-gray-iron-100:active, .hover\:text-gray-iron-100:hover, .text-gray-iron-100{ color: var(--gray-iron-100);}
.active\:text-gray-iron-200:active, .hover\:text-gray-iron-200:hover, .text-gray-iron-200{ color: var(--gray-iron-200);}
.active\:text-gray-iron-300:active, .hover\:text-gray-iron-300:hover, .text-gray-iron-300{ color: var(--gray-iron-300);}
.active\:text-gray-iron-400:active, .hover\:text-gray-iron-400:hover, .text-gray-iron-400{ color: var(--gray-iron-400);}
.active\:text-gray-iron-500:active, .hover\:text-gray-iron-500:hover, .text-gray-iron-500{ color: var(--gray-iron-500);}
.active\:text-gray-iron-600:active, .hover\:text-gray-iron-600:hover, .text-gray-iron-600{ color: var(--gray-iron-600);}
.active\:text-gray-iron-700:active, .hover\:text-gray-iron-700:hover, .text-gray-iron-700{ color: var(--gray-iron-700);}
.active\:text-gray-iron-800:active, .hover\:text-gray-iron-800:hover, .text-gray-iron-800{ color: var(--gray-iron-800);}
.active\:text-gray-iron-900:active, .hover\:text-gray-iron-900:hover, .text-gray-iron-900{ color: var(--gray-iron-900);}
.active\:text-gray-iron-20\%:active, .hover\:text-gray-iron-20\%:hover, .text-gray-iron-20\%{ color: var(--gray-iron\/20);}
.active\:text-gray-iron-40\%:active, .hover\:text-gray-iron-40\%:hover, .text-gray-iron-40\%{ color: var(--gray-iron\/40);}
.active\:text-gray-iron-60\%:active, .hover\:text-gray-iron-60\%:hover, .text-gray-iron-60\%{ color: var(--gray-iron\/60);}
.active\:text-gray-iron-80\%:active, .hover\:text-gray-iron-80\%:hover, .text-gray-iron-80\%{ color: var(--gray-iron\/80);}

.active\:border-gray-iron-50:active, .hover\:border-gray-iron-50:hover, .border-gray-iron-50{ border-color: var(--gray-iron-50);}
.active\:border-gray-iron-100:active, .hover\:border-gray-iron-100:hover, .border-gray-iron-100{ border-color: var(--gray-iron-100);}
.active\:border-gray-iron-200:active, .hover\:border-gray-iron-200:hover, .border-gray-iron-200{ border-color: var(--gray-iron-200);}
.active\:border-gray-iron-300:active, .hover\:border-gray-iron-300:hover, .border-gray-iron-300{ border-color: var(--gray-iron-300);}
.active\:border-gray-iron-400:active, .hover\:border-gray-iron-400:hover, .border-gray-iron-400{ border-color: var(--gray-iron-400);}
.active\:border-gray-iron-500:active, .hover\:border-gray-iron-500:hover, .border-gray-iron-500{ border-color: var(--gray-iron-500);}
.active\:border-gray-iron-600:active, .hover\:border-gray-iron-600:hover, .border-gray-iron-600{ border-color: var(--gray-iron-600);}
.active\:border-gray-iron-700:active, .hover\:border-gray-iron-700:hover, .border-gray-iron-700{ border-color: var(--gray-iron-700);}
.active\:border-gray-iron-800:active, .hover\:border-gray-iron-800:hover, .border-gray-iron-800{ border-color: var(--gray-iron-800);}
.active\:border-gray-iron-900:active, .hover\:border-gray-iron-900:hover, .border-gray-iron-900{ border-color: var(--gray-iron-900);}
.active\:border-gray-iron-20\%:active, .hover\:border-gray-iron-20\%:hover, .border-gray-iron-20\%{ border-color: var(--gray-iron\/20);}
.active\:border-gray-iron-40\%:active, .hover\:border-gray-iron-40\%:hover, .border-gray-iron-40\%{ border-color: var(--gray-iron\/40);}
.active\:border-gray-iron-60\%:active, .hover\:border-gray-iron-60\%:hover, .border-gray-iron-60\%{ border-color: var(--gray-iron\/60);}
.active\:border-gray-iron-80\%:active, .hover\:border-gray-iron-80\%:hover, .border-gray-iron-80\%{ border-color: var(--gray-iron\/80);}