.text-9xl{ font-size: var(--font-size-9xl); }
.text-8xl{ font-size: var(--font-size-8xl); }
.text-7xl{ font-size: var(--font-size-7xl); }
.text-6xl{ font-size: var(--font-size-6xl); }
.text-5xl{ font-size: var(--font-size-5xl); }
.text-4xl{ font-size: var(--font-size-4xl); }
.text-3xl{ font-size: var(--font-size-3xl); }
.text-2xl{ font-size: var(--font-size-2xl); }
.text-xl{ font-size: var(--font-size-xl); }
.text-lg{ font-size: var(--font-size-lg); }
.text-md{ font-size: var(--font-size-md); }
.text-sm{ font-size: var(--font-size-sm); }
.text-xs{ font-size: var(--font-size-xs); }

@media (min-width: 992px){
    :root{
        /* Tamaño de fuente */
        --font-size-9xl: 6.8rem;
        --font-size-8xl: 6.2rem;
        --font-size-7xl: 5.6rem;
        --font-size-6xl: 5rem;
        --font-size-5xl: 4.4rem;
        --font-size-4xl: 3.8rem;
        --font-size-3xl: 3.2rem;
        --font-size-2xl: 2.6rem;
        --font-size-xl: 2rem;
        --font-size-lg: 1.8rem;
        --font-size-md: 1.6rem;
        --font-size-sm: 1.4rem;
        --font-size-xs: 1.2rem;
    }
}