.position-static{ position: static;}
.position-relative{ position: relative;}
.position-absolute{ position: absolute;}
.position-fixed{ position: fixed;}
.position-sticky{ position: sticky;}


.left-0{ left: 0}
.left-5{ left: .5rem}
.left-10{ left: 1rem}
.left-15{ left: 1.5rem}
.left-20{ left: 2rem}
.left-25{ left: 2.5rem}
.left-30{ left: 3rem}
.left-35{ left: 3.5rem}
.left-40{ left: 4rem}
.left-45{ left: 4.5rem}
.left-50{ left: 5rem}
.left-55{ left: 5.5rem}
.left-60{ left: 6rem}
.left-65{ left: 6.5rem}
.left-70{ left: 7rem}
.left-75{ left: 7.5rem}
.left-80{ left: 8rem}
.left-85{ left: 8.5rem}
.left-90{ left: 9rem}
.left-95{ left: 9.5rem}
.left-100{ left: 10rem}

.right-0{ right: 0}
.right-5{ right: .5rem}
.right-10{ right: 1rem}
.right-15{ right: 1.5rem}
.right-20{ right: 2rem}
.right-25{ right: 2.5rem}
.right-30{ right: 3rem}
.right-35{ right: 3.5rem}
.right-40{ right: 4rem}
.right-45{ right: 4.5rem}
.right-50{ right: 5rem}
.right-55{ right: 5.5rem}
.right-60{ right: 6rem}
.right-65{ right: 6.5rem}
.right-70{ right: 7rem}
.right-75{ right: 7.5rem}
.right-80{ right: 8rem}
.right-85{ right: 8.5rem}
.right-90{ right: 9rem}
.right-95{ right: 9.5rem}
.right-100{ right: 10rem}

.bottom-0{ bottom: 0}
.bottom-5{ bottom: .5rem}
.bottom-10{ bottom: 1rem}
.bottom-15{ bottom: 1.5rem}
.bottom-20{ bottom: 2rem}
.bottom-25{ bottom: 2.5rem}
.bottom-30{ bottom: 3rem}
.bottom-35{ bottom: 3.5rem}
.bottom-40{ bottom: 4rem}
.bottom-45{ bottom: 4.5rem}
.bottom-50{ bottom: 5rem}
.bottom-55{ bottom: 5.5rem}
.bottom-60{ bottom: 6rem}
.bottom-65{ bottom: 6.5rem}
.bottom-70{ bottom: 7rem}
.bottom-75{ bottom: 7.5rem}
.bottom-80{ bottom: 8rem}
.bottom-85{ bottom: 8.5rem}
.bottom-90{ bottom: 9rem}
.bottom-95{ bottom: 9.5rem}
.bottom-100{ bottom: 10rem}

.top-0{ top: 0}
.top-5{ top: .5rem}
.top-10{ top: 1rem}
.top-15{ top: 1.5rem}
.top-20{ top: 2rem}
.top-25{ top: 2.5rem}
.top-30{ top: 3rem}
.top-35{ top: 3.5rem}
.top-40{ top: 4rem}
.top-45{ top: 4.5rem}
.top-50{ top: 5rem}
.top-55{ top: 5.5rem}
.top-60{ top: 6rem}
.top-65{ top: 6.5rem}
.top-70{ top: 7rem}
.top-75{ top: 7.5rem}
.top-80{ top: 8rem}
.top-85{ top: 8.5rem}
.top-90{ top: 9rem}
.top-95{ top: 9.5rem}
.top-100{ top: 10rem}